.menu
    overflow-x: hidden
    position: relative
    left: 0

.menu-open
    left: 231px

.menu-open
    .menu-side
        left: 0

.menu-side, .menu
    transition: left 200ms ease-in-out
    -webkit-transition: left 200ms ease-in-out
    -moz-transition: left 200ms ease-in-out

.menu-side
    background: #333
    border-right: 1px solid #000
    color: #fff
    position: fixed
    top: 0px
    left: -231px
    width: 210px
    height: 100%
    padding: 10px

li
    padding: 10px
    font-size: 18px

header

    a
        font-size: 24px