doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/CSS/main.css")
        title Document
    body.menu
        header
            a(href="#").menu-toggle ≡
            nav.menu-side
                ul
                    li Home
                    li Blog
                    li Social Media
                    li Clients
                    li About
                    li Contacts
        
        .top-section
                h1 Company Name
                h3 Company Slogan Learn More >
                
            
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="/JS/functions-dist.js")
        